body {
  background-color: rgb(209, 209, 206);
}

.column {
  border: black solid 1px;
  border-radius: 10px;
}

/* #mainContainer {
} */

.header {
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100px;
  font-size: calc(35px + 2vw);
  height: 10vw;
}

.row {
  min-height: 70px;
  font-size: calc(12px + 1.5vw);
}

.saveDelete {
  font-size: calc(12px + 1.5vw);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(46, 97, 155);
}

.time {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  margin: 1.8vw;
}

.fa-trash-can {
  color: rgb(233, 77, 77);
}

.fa-arrow-down-to-arc {
  color: greenyellow;
}

#weekDay {
  font-size: calc(12px + 2vw);
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.fa-arrow-down-to-arc:hover {
  font-size: 4vw;
}
.fa-arrow-down-to-arc {
  background-position: center;
  transition: background 1s;
  border-radius: 20px;
}

.fa-arrow-down-to-arc:active {
  background-color: greenyellow;
  background-size: 100%;
  transition: background 0s;
  border-radius: 20px;
}

.fa-trash-can:hover {
  font-size: 4vw;
}

.past {
  background-color: grey;
}

.present {
  background-color: rgb(214, 182, 77);
}

.future {
  background-color: rgb(122, 206, 122);
}
